@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

@charset "utf-8";
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #18BC9C;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

@font-face {
    font-family: myFont;
    src: url(../fonts/bitstreamverabd.ttf);
}

.top-bar {
    position: fixed;
    top: 0px;
    margin: 0 auto;
    padding: 0px;
    background-color: white;
    width: 100%;
    height: 50px;
    z-index: 6;
}

.my-navbar {
    top: 50px;
    border-radius: 0;
/*    background-color: white;*/
}

.my-navbar-brand {
    font-family:myFont;
    letter-spacing: -5px;
}

.my-logo {
    margin-top:5px;
}

.my-today {
    background-color: #96cde9;
}

.receipt-header {
    border-bottom: 1px;
}

.my-row {
    height: 56px;
}

.spanInTab {
    color: white;
    margin: 0px;
    padding: 15px;
    text-align: right;
}

.inputForm {
    margin: 0px;
    padding: 11px;
}

.my-search-button {
    background-color: #ffcc01;
}

.my-search-button:hover {
/*    background-color: #F2C20E;*/
}

.navbar-inverse .navbar-brand {
    font-size: 48px;
    color: #ffcc01;
}


.navbar-inverse .navbar-brand:hover {
    font-size: 48px;
    color: #ffcc01;
}

.navbar-space {
    height: 50px;
/*    background-color: #222;*/
}

.text-in-service {
    font-size: 1em;
}

.goods-groups {
    color: #3b85bf;
    text-shadow: 2px 2px #FF0000;
}

.list-unstyled >li {
    font-size: 24px;
}

a:link.contact-button,
a:visited.contact-button,
a:active.contact-button {
    color: #18BC9C;
        opacity: 0.7;

    font-size:18px;
    font-weight:bold;
}

a:hover.contact-button {
    opacity: 1.2;
    font-size:18px;
    font-weight:bold;
}


#portfolio .portfolio-item {
  margin: 0 0 0px;
/*  right: 0;*/
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
/*  max-width: 400px;*/
    max-height: 400px;
/*  margin: 0 auto;*/
    text-align: center;
    white-space: nowrap;
/*
        border-width: 1px;
    border-color: gray;
*/
/*    border-style: solid;*/
/*    border-radius: 5px;*/

}
#portfolio .portfolio-item .portfolio-link .caption {
/*  background: rgba(24, 188, 156, 0.9);*/
/*    background-color: lightblue;*/
  position: absolute;
  width: 100%;
  height: 100%;
/*  opacity: 0.5;*/
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
    background: rgba(24, 188, 156, 0.9);
    color: white;
/*        text-shadow: 1px 1px black;*/


}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
    font-weight: 900;
  text-align: center;
  top: 45%;
  margin-top: -12px;
  color: #18BC9C;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
#portfolio .portfolio-item .portfolio-link .caption:hover  .caption-content{
    color: white;

    text-shadow: 1px 1px black;

}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 5px 0px 5px;
  }
}


/*search placeholder blinker*/



.input-group .textbox::-webkit-input-placeholder {
    color:blue;
    font-weight: ;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}


.input-group .textbox::-moz-placeholder {
    color:blue;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.my-panel {
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    border-radius: 7px;
    border-color: darkgray;
    margin: 0 auto;
    margin-bottom: 2px;
/*    width: 99.5%;*/
}

.my-panel span {
    padding: 2px;
}

/*PHONE ENTER DIV*/
.phoneEnter {
    position: fixed;
    width: 380px;
    top: 2px;
    right: -380px;
}

#button {
    width: 111.3px;
}

#phoneInput {
    width: 360px;
    top: 2px;
    float: left;
}
